{% extends 'base.html.twig' %}

{% block title %}State index{% endblock %}

{% block body %}

    <div class="d-flex flex-sm-row flex-column">
        <div class="mr-auto p-2">
            <h1>World Map</h1>
        </div>
        
    </div>
    <div style="height: 80vh;">
        {% include 'map.html' %}
    </div>
    <div class="d-flex flex-sm-row flex-column">
        <div class="mr-auto p-2">
            <h1>State</h1>
        </div>
        <div class="p-2"><a class="btn-action" href="{{ path('state_new') }}"><span class="icon icon-Add-2"></span> New State</a></div>
    </div>

    <table class="table table-hover table-responsive-md">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateCreate</th>
                <th>Color</th>
                <th>Language</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for state in states %}
            <tr>
                <td>{{ state.id }}</td>
                <td>{{ state.name }}</td>
                <td>{{ state.description }}</td>
                <td>{{ state.dateCreate ? state.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ state.color }}</td>
                <td>{{ state.language }}</td>
                <td>{{ state.statut }}</td>
                <td>
                    <a href="{{ path('state_show', {'id': state.id}) }}"><span class="icon-Fleche btn-next"></span></a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}



        </tbody>
    </table>


    

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>

    $.ajax({
        url: "{{ path('region_map_json') }}",
        method: "post",
        data: { 'id': {{app.user.server.id}} }
    }).done(function(json){
        console.log(json);
        var j =JSON.stringify(json);
        
        var code1 = document.createElement('code');
        code1.appendChild(document.createTextNode(j));
        document.getElementById('hexmap').appendChild(code1);
        goHexmap();
        
    });

</script>    
{% endblock %}