{% extends 'base.html.twig' %}

{% block title %}State index{% endblock %}

{% block body %}


    <div style="height: 90vh">
        {% include 'map/world.html.twig' %}
    </div>



    

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>

    $.ajax({
        url: "{{ path('map_world_json') }}",
        method: "post",
        data: { 'id': {{app.user.server.id}} }
    }).done(function(json){

        var j =JSON.stringify(json);
        
        var code1 = document.createElement('code');
        code1.appendChild(document.createTextNode(j));
        document.getElementById('hexmap').appendChild(code1);
        var hexmap = goHexmap();
                    
        hexmap.setClass(function(id,hex){
            return hex.type;
        });
        
        hexmap.setContent(function(id,hex){
            // Build the circular token that sits on a hex

                str = '<div class="token">';

                str += '</div>';

            return str;
        });

        hexmap.setBorder(function(id,hex){
            return hex.type;
        });

            //Event
        hexmap.on('click',function(e){
            
            var info = document.getElementById('map-info');
            info.innerHTML ='<div class="progress"><div class="progress-bar-animated progress-bar-striped bg-secondary" style="width:100%"></div></div>';
            
            
            $.ajax({
                url: "{{ path('map_region_info_json') }}",
                method: "post",
                data: { 'id': e.hex.id }
            }).done(function(json){
                while (info.firstChild) {
                    info.removeChild(info.firstChild);
                }

                //coor
                var p = document.createElement('p');
                p.appendChild(document.createTextNode('['+e.hex.r+','+e.hex.q+']'));
                info.appendChild(p);
                
                
                if(json['state']['name']){
                    var p1 = document.createElement('p');
                    p1.appendChild(document.createTextNode('State : ' + json['state']['name'] ));
                    info.appendChild(p1);
                }
                
                
                if(json['state']['stateUser']){
                    var a = document.createElement('a');
                    
                    
                    var url = '{{ path("region_show", {"id": "region_id"}) }}'; 
                    url = url.replace("region_id", json['region']['id']);
                    
                    
                    
                    
                    
                    
                    
                    
                    a.setAttribute('href', url);
                    a.classList.add('btn-action');
                    a.appendChild(document.createTextNode('See this region'));
                    info.appendChild(a);
                }
                
                
            });
            
        });
    
        zoomPan();
    });

</script>    
{% endblock %}