{% extends 'base.html.twig' %}

{% block title %}RegionType index{% endblock %}

{% block body %}
    <div class="d-flex flex-sm-row flex-column">
        <div class="mr-auto p-2">
            <h1>Type Region</h1>
        </div>
        <div class="p-2"><a class="btn-action" href="{{ path('type_region_new') }}"><span class="icon icon-Add-2"></span> New TypeRegion</a></div>
    </div>

    <table class="table table-hover table-responsive-md">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>MaxBuilding</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_region in type_regions %}
            <tr>
                <td>{{ type_region.id }}</td>
                <td>{{ type_region.name }}</td>
                <td>{{ type_region.maxBuilding }}</td>
                <td>
                    <a href="{{ path('type_region_show', {'id': type_region.id}) }}"><span class="icon-Fleche btn-next"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
