{% extends 'base.html.twig' %}

{% block title %}StateUser index{% endblock %}

{% block body %}
    <div class="d-flex flex-sm-row flex-column">
        <div class="mr-auto p-2">
            <h1>Citizen</h1>
        </div>
        <div class="p-2"><a class="btn-action" href="{{ path('state_user_new') }}"><span class="icon icon-Add-2"></span> New Citizen</a></div>
    </div>

    <table class="table table-hover table-responsive-md">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCreate</th>
                <th>User</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for state_user in state_users %}
            <tr>
                <td>{{ state_user.id }}</td>
                <td>{{ state_user.dateCreate ? state_user.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td><a href="/user/{{ state_user.user.id}}"><span class="icon-Person"></span> {{ state_user.user.username}}</a></td>
                <td><a href="/state/{{ state_user.state.id}}"><span class="icon-Country"></span> {{ state_user.state.name}}</a></td>
                <td>
                    <a href="{{ path('state_user_show', {'id': state_user.id}) }}"><span class="icon-Fleche btn-next"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
