  <nav class="navbar-dark collapse buton-responsive" id="menu-collapse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-collapse" aria-controls="menu-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
<!-- Sidebar -->
<nav class="navbar-dark sidebar collapse show" id="menu-collapse">
    <div class="menu-top">
        <button class="navbar-toggler buton-responsive-2" type="button" data-toggle="collapse" data-target="#menu-collapse" aria-controls="menu-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="menu-item menu-logo"  aria-label="Worldly" title="Worldly">
            <i class="menu-icon-logo icon-Station" aria-hidden="true" ></i>
        </a>
    </div>

    
	<div class="menu">
		<div class="menu-group navbar-nav">
            <a href="/user/{{ app.user.id }}" class=" nav-item menu-item {% if route == '/user/' ~ app.user.id %}current{% endif %}" aria-label="Profil" title="Profil">
                <i class="menu-icon icon-Person" aria-hidden="true"></i>
            </a>
			<a href="/map" class="menu-item {% if route == '/state/' %}current{% endif %}" aria-label="World" title="World">
                <i class="menu-icon icon-Map" aria-hidden="true"></i>
            </a>
		</div>
        
		<div class="menu-group navbar-nav" id="country">
            {% if menu is defined and menu.stateUsers is defined %}
            {% for stateUser in menu.stateUsers %}
                <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Country" aria-hidden="true"></i>
                </a>

                 <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Lightning" aria-hidden="true"></i>
                </a>
                <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Cross" aria-hidden="true"></i>
                </a>
                <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Education" aria-hidden="true"></i>
                </a>
                <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Rail" aria-hidden="true"></i>
                </a>
                <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Army" aria-hidden="true"></i>
                </a>
                <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Wheat" aria-hidden="true"></i>
                </a>
                <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Culture" aria-hidden="true"></i>
                </a>
                <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Science" aria-hidden="true"></i>
                </a>
                <a href="/state/{{ stateUser.state.id }}" class="nav-item menu-item {% if route == '/state/' ~stateUser.state.id %}current{% endif %}" aria-label="P{{ stateUser.state.name }} state" title="{{ stateUser.state.name }} | State">
                    <i class="menu-icon icon-Euro" aria-hidden="true"></i>
                </a>

            
              {% endfor %}


            {% endif %}
                      
            
            
            
            
            
            
            

		</div>

		<div class="menu-group navbar-nav">
			<a class="menu-item" aria-label="Driver's Licenses" title="Driver's Licenses">
                <i class="menu-icon icon-Station" aria-hidden="true"></i>
            </a>

			<a class="menu-item" aria-label="Passports" title="Passports">
                <i class="menu-icon icon-Group" aria-hidden="true"></i>
            </a>

			<a class="menu-item" aria-label="Social Security Numbers" title="Social Security Numbers">
                <i class="menu-icon icon-Group" aria-hidden="true"></i>
            </a>

		</div>

	</div>

	<div class="menu-bottom">
		<a class="menu-item" aria-label="More Options" title="More Options">
            <i class="menu-icon icon-Menu1" style="line-height: 0.5" aria-hidden="true"></i>
        </a>

	</div>

</nav>
